*{
    box-sizing: border-box;
}
.ledgers-section{
    display: grid;
    grid-template-columns:0.1fr 1fr;
    grid-template-areas:
       "filter filter" 
       "nav ledgers";
}

.ledgers-section > div > div > p {
    margin-right:5px;
}

.ledger-section-filters{
    grid-area: filter;
    align-self: center;
    justify-self: center;
}

.device-navbar{
    text-align: center;
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-content: space-evenly; 
}

.device-navbar> div{
    position: relative;
}

.device-navbar > div::after{
    position: absolute;
    z-index:999;
    content: attr(title);
    top: -10%;
    left: 100%;
    background-color: teal;
    padding: 2px;
    margin-left: 5px;
    border-radius: 3px;
    color: white;
    display: none;

}

.device-navbar> div:hover::after{
    display: block;
}

.nav-container{
    grid-area: nav;
    
}

.device-navbar > div {
    margin:5px 3px 25px 2px;
    font-size: 20px;
    cursor: pointer; 
    border-style: solid;
    border-radius: 5px;
    border-width: 0.1px;
}
.ledgers{
    grid-area: ledgers;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(150px,500px)); 
    height: max-content;
    margin:10px;
    justify-content: center;
}

.write-note{
    display: flex;
    align-items: center;
    justify-content: center;
}
