.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-texts{
    background-image: linear-gradient(  var(--background-color),var(--primary-color));
    color: var(--cta-font-color);
    width: 70%;
    text-align: center;
    padding: 5px 0px 15px 0px;
    margin-top:10px
}

.hero-cta{
    background-color: var(--background-color);
    color: var(--cta-font-color);
    font-weight:bolder;
    width: 10rem;
    padding: 5px;
    font-size: larger;
    border-style: none;

}