.modal-div{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--modal-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.quill{
    min-height:70%
}