#theme-style{
   border-radius: 50%;
    border-style: none;
    width:1.5rem;
    height:1.5rem;
    margin-right: 5px;
    cursor: pointer;
}

.orange{
    background-color: #FFBF86;  
}

.red{
    background-color: #FD5D5D;
}

.blue{
    background-color: #42C2FF;
}   