.rel-pos{
    position: relative;
    margin: 0px;
}

.input-icon{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 0%;
    font-size: 20px;
    margin-right: 2px;
    cursor: pointer;
}

#cta{
    width: 90%;
    margin: 2% 0px 2% 0px;
}

input {
    height: 2rem;
    margin:5px 0px 5px 0px;
    display: block;
    font-size: 1rem;
}

div > label{
    margin-top: 0px;
}

.email-div, .password-div {
    margin-bottom: 10px;
}
.email-div > p{
    color: red;
    margin:0px 0px 10px  2px 

}

.password-div > p {
    color: red;
     margin:0px 0px 10px  2px 
}

/* .auth-form{
    width: max-content;
    height: max-content;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
} */